@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;1,700&display=swap');

/* font-family: 'Josefin Sans', sans-serif; */


body {
    background-color: #e4f0ff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    color: #2b2a28;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin: 3rem 0 3rem;
}


.content,
.selection,
.round-decision,
.round-choices,
#modal,
#overlay {
    display: flex;
    justify-content: center;
}

.game-arena {
    display: flex;
    justify-content:center;
    text-align: center;
    align-items: center;
}

.player {
    width: 150px;
}

.score {
    margin: 0 2.5rem;
    width: 250px;
}

#currentScore {
    font-size: 3rem;
}

.choice-prompt {
    font-size: 30px;
    color: #252b65;
    margin: 25px 0 0 0;
}

.round-decision>div {
    align-items: center;
    height: 8rem;
    width: 8rem;
    background-color: #e4f0ff;
    border-style: none;
    margin: 2rem;
}

img {
    height: 8rem;
    width: 8rem;
}

.round-choices {
    padding: 1rem 2rem;
    gap: 3rem;
}

.round-choices>button, #replay {
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffedda;
    border: 1px solid #c88a35;
    border-radius: 20px;
    font-size: 1.5rem;
    margin: 10px 0;
}

button:hover {
    box-shadow: 2px 2px 5px #7c90af;
}


a {
    text-decoration: none;
    color: #c88a35;
}

a:hover {
    color: #2e2824;
}

#replay {
    margin-top: 20px;
    display: none;
}